.background{
background: url('../images/image11.jpg');
width: 100%;
height: 100vh;
background-size: cover;
}
#navBar{
  top: 20px;
}
#headerbutton{
  right: 10px;
  position: absolute;
  top: 4px;
}
#edit{
  margin-right: 10px;

}
